.content {
    padding-top: 10px;

  }
  .row {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    padding: 0px 25px 20px;
    button {
      flex: 1;
    }
  }
  .radio-button-box {
    border: 1px solid #0a0a0a; 
    padding: 1px; 
    padding-right: 10px;
    display: inline-block;
    border-radius: 70px; 
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }