<mat-toolbar color="primary">
  <span>Crud Patients</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditPatForm()">
    ADD PATIENT
  </button>
</mat-toolbar>

<!-- <h3>Patient List</h3> -->

<div class="main-body">


  <label> <h1>Patient List</h1></label>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search here" #input>
  </mat-form-field>
  <br>
  <br>
<!-- <hr> -->

  <div class="table-container">

    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort> -->
    <table mat-table [dataSource]="dataSource"  matSort>

    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
        <td mat-cell *matCellDef="let row"> {{row.phoneNo}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="secondary" matTooltip="Change Status"  (click)="openStatusForm(row) "> {{row.status}}</button></td>
          <!-- <button mat-raised-button color="accent" > {{row.status}}</button></td> -->
          <!-- <button mat-raised-button (click)="toggleButton()">{{ isActive ? 'Active' : 'Inactive' }}</button> -->
          <!-- <button mat-raised-button color="secondary" mat-button (click)="toggleButtonState()">    {{ isButtonActive ? 'Active' : 'Inactive' }} </button></td> -->

      </ng-container>

<ng-container>

</ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="openEditForm(row)">
            Edit
          </button>
          &nbsp;
          <button mat-raised-button color="warn" (click)="deletePatient(row.id)">
            Delete
          </button>

          <!-- <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePatient(row.id)">
            <mat-icon>delete</mat-icon>
          </button> -->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
<!-- <hr> -->
    <mat-paginator 
    [pageSizeOptions]="[4, 8, 12, 16,20,50,100,200,500,1000]" 
    showFirstLastButtons
    aria-label="Select page of patient">
  </mat-paginator>
  </div>
</div>